<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @metum.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @metum.password %>
</p>

<p>
  <strong>Committee1:</strong>
  <%= @metum.committee1 %>
</p>

<p>
  <strong>Committee2:</strong>
  <%= @metum.committee2 %>
</p>

<p>
  <strong>Committee3:</strong>
  <%= @metum.committee3 %>
</p>

<p>
  <strong>Committee4:</strong>
  <%= @metum.committee4 %>
</p>

<p>
  <strong>Committee5:</strong>
  <%= @metum.committee5 %>
</p>

<p>
  <strong>Workday 1:</strong>
  <%= @metum.workday1 %>
</p>
<p>
  <strong>Workday 2:</strong>
  <%= @metum.workday2 %>
</p>
<p>
  <strong>Workday 3:</strong>
  <%= @metum.workday3 %>
</p>
<p>
  <strong>Workday 4:</strong>
  <%= @metum.workday4 %>
</p>
<p>
  <strong>Workday 5:</strong>
  <%= @metum.workday5 %>
</p>
<p>
  <strong>Workday 6:</strong>
  <%= @metum.workday6 %>
</p>
<p>
  <strong>Workday 7:</strong>
  <%= @metum.workday7 %>
</p>
<%= link_to 'Edit', edit_metum_path(@metum) %> |
<%= link_to 'Back', meta_path %>
